<%= form_for @todo ,:html => { :id => "fo" } do |form| %>

  <div class ="pr_name"> <%= form.label "НОВАЯ ЗАДАЧА" %> </div><hr>
  <div class ="holder">  <%= form.text_field :text, :placeholder => "Название задачи...", class: "text_holder"  %> </div>

  <div class ="sel">
    <%= form.collection_select :project_id, Project.all, :id, :title %>
  </div>


  <div class ="two_btn">
    <%= form.submit "ОТМЕНА",class:"btn", id: "btn-c" %>
    <%= form.submit "OK",class:"btn", id: "btn-s" %>
  </div>
<% end %>
