
<!-- <input type="button" id="btn-o" value="+"/> -->

<div class="header">
<div class ="container">
  <div class ="logo">Задачи</div>
  <div class ="add_form">
    <%= link_to root_path, id: "add_todo" do %>
      <%= image_tag "addTodoIcon.png", id: "img_todo" %>
    <% end %>
  </div>
</div>


<div class = "block">
<!-- <div class="container"> -->
   <% @projects.each do |project| %>
 <div class ="card col-sm-12 col-md-4 col-lg-4">
    <div class ="pr_name"><%= project.title.upcase() %></div><hr>

        <div class ="todos">
          <ul>
          <% @todos.each do |todo| %>
            <% if todo.project_id == project.id%>

                  <div class="point">
                       <input type="checkbox" name="todo"> <div class="text"> <%= todo.text%></div>
                  </div>


            <% end %>

         <% end %>
         </ul>
       </div>
     </div>
    <% end %>
</div>



<div id ="submit_form">
<%= render "create"%>
</div>
</div>
